@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<footer>
        <div class="container">
            <section class="row">
                <section class="col-12 col-md">
                    <h3 class="text-uppercase">lvs</h3>
                    <p>Et samfund med mod til mangfoldighed og reelle muligheder for den enkelte til et bedre liv. LVS er en landsforening i bevægelse. En landsforening, der vil noget.</p>
                </section>
                <section class="col-12 col-md footer-links">
                    <h3 class="text-uppercase">links</h3>
                    <ul class="text-uppercase">
                        <li><a href="projects.html">projekter</a></li>
                        <li><a href="publications.html">publikationer</a></li>
                        <li><a href="news.html">nyheder</a></li>
                        <li><a href="shelters.html">væresteder</a></li>
                    </ul>
                </section>
                <section class="col-12 col-md social-media">
                    <h3 class="text-uppercase">sociale medier</h3>
                    <ul>
                        <li><a href="#"><i class="fab fa-linkedin"></i>Linkedin</a></li>
                        <li><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i>Youtube</a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                    </ul>
                </section>
                <section class="col-12 col-md">
                    <h3 class="text-uppercase">kontakt os</h3>
                    <p>Danmarksgade 6A, 1. - 7000 Fredericia.<br /> Telefon: 75 92 40 00<br /> E-mail: lvsinfo@lavs.dk<br /> EAN-nr.: 579 800 647 6909<br /> Cvr.nr.: 29055009</p>
                </section>
            </section>
            <section class="row copy-line">
                <section class="col">
                    <p>&copy; 2018 Landsforeningen af VæreSteder</p>
                </section>
            </section>
        </div>
    </footer>
    
    
    <script src="~/Assets/vendor/feather/feather.min.js"></script>
    <script>
        feather.replace();
    </script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/vendor/rellax.min.js"></script>
    <script>
        var rellax = new Rellax('.rellax', { center: true });
    </script>










    <script src="~/Assets/vendor/jquery/jquery-3.3.1.min.js"></script>
   
   <script src="~/Assets/scripts/main.js"></script>
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("moduel_countdown_btn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>


    <script>
        $('.count').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                    duration: 3000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    }
                });
        });
    </script>