@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;

}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="Assets/vendor/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="Assets/styles/main.css">

    @Html.Partial("Global/SEO");
</head>

<body>
    @Html.Partial("Global/Header");
    @RenderBody()
    @Html.Partial("Global/Footer");
</body>
</html>
